# Core Framework
fastapi
uvicorn
pydantic
python-dotenv
python-multipart

# External APIs
groq
requests

# Graph integration
neo4j

# Snowflake integration
snowflake-connector-python

# Kafka streaming
kafka-python

# Data wrangling
numpy
pandas
